.soft-input--outer {
  @apply grid gap-1;
}

.soft-input--inner {
  @apply relative w-full h-fit;
}

.soft-input {
  @apply bg-transparent focus:outline-none block w-full py-2.5 px-3 rounded-lg caret-primary-50 text-neutral-40 transition-all duration-500 ease-out;
}

.soft-input--border {
  @apply border border-neutral-80 focus:border-primary-50 focus:ring-1 focus:ring-offset-2 focus:ring-offset-transparent focus:ring-primary-50/45 transition-all duration-500 ease-out !important;
}

.soft-input--border-error {
  @apply border border-red-500 transition-all duration-500 ease-out !important;
}

.soft-input--error {
  @apply text-red-500 font-normal text-xs !important;
}

.action-label {
  @apply font-semibold text-sm text-teal;
}

.toggle-password-icon {
  @apply absolute bottom-3 flex items-center right-0 pr-4;
}

.password-blur--container {
  @apply absolute my-auto left-3 inset-y-0 h-5 rounded flex items-start flex-grow-0;
}

.password-blur {
  @apply absolute rounded flex w-full h-full;
  z-index: 1;
  background: linear-gradient(
    94.9deg,
    rgba(31, 36, 39, 0.012) 0%,
    rgba(31, 36, 39, 0.006) 100%
  );
  backdrop-filter: blur(7.5px);
}
